@use "palette";

*{
  font-family: 'Open Sans',
  sans-serif;
  color: palette.$text;
  background-color: palette.$background;
  text-align: center;
}

.nav{
  font-weight: bold;
  font-size: 20pt;
}

a{
  text-decoration: none;
  &:hover{
    color: palette.$text;
    text-shadow: 1px 1px #000;
  }
  &:focus {
    color: palette.$text;
    text-shadow: 1px 1px #000;
  }
  &:active {
    color: palette.$text;
    text-shadow: 1px 1px #000;
  }
}

.skills__container{
  font-weight: bolder;
  font-size: medium;
}