@use "palette";

*{
  font-family: 'Open Sans',
  sans-serif;
  color: palette.$color3;
  background-color: palette.$color2;
  text-align: center;
  
}


nav{

  font-weight: bold;
  font-size: 20pt;
 

}

a{
  text-decoration: none;

  &:hover{
    color: palette.$color4;
    text-shadow: 1px 1px #000;
  }
  &:focus {
    color: palette.$color4;
    text-shadow: 1px 1px #000;
  }
  &:active {
    color: palette.$color4;
    text-shadow: 1px 1px #000;
  }
}