@use "palette";
@use "fonts";


nav {
  &>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;

    padding: 0px;
    margin-top: 2vh;
    margin-bottom: 10vh;
  
   
  
   
  }
}